body{
    
}

.header_1{
    height: 40px;
    background: darkblue;
}

.box_header{
    height: 40px;
    background: blue;
}

.header_2{
    height: 250px;
    background: rgb(5, 184, 145);
}


.title{
    height: 100px;
}

.img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: rgb(168, 3, 3);
}

.about{
    height: 250px;
    margin: 0 auto;
    background: rgb(5, 184, 145);
}

.box_about{
    
    background: rgb(117, 255, 225);
    margin: 0 auto;
}

.dati{
    background: white;
    
}

.box_title_in{
    background: lightgray;
}

.box_inserition{
    background: lightgray;
    height: 200px;
}

.box_button_in{
    background: lightgray;
}

.info{
    background: darkblue;
}

.box_info{
    background: blue;
}

.box_copy{
    background: rgb(0, 0, 83);
    color: white;
    
}