body{
    margin: 0 auto;
}

.header_1{
    height: 40px;
    background: darkblue;
}

.box_header{
    height: 40px;
    background: blue;
}

.header_2{
    height: 250px;
    background: rgb(5, 184, 145);
}


.title{
    height: 100px;
}



.img{
    width: 200px;
    height: 200px;
    background: rgb(168, 3, 3);
}