.header .site-navbar{
    background: rgb(37, 37, 88);
}

.navbar-brand{
    text-transform: uppercase;
    color: white;
}

.navbar-nav{
    text-transform: uppercase;
}

.main-title{
    background: rgb(5, 184, 145);
    height: auto;
}

.main-title .avatar{
    width: 200px;
    margin: 0 auto;
}

.row_title {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
}

.portfolio h1{
    text-align: center;
    text-transform: uppercase;
}

.box img{
    width: 300px;
    height: auto;
    display: flex;
}

.about{
    height: auto;
    margin: 0 auto;
    background: rgb(5, 184, 145);
    color: white;
}

.title_about{
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
}

.box_about{
    margin: 0 auto;
}

.download{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.download button{
    align-items: center;
    border: 1px solid white;
    color: white;
}

.download button:hover{
    background: white;
}

.dati{
    background: white; 
}

.title-registration{
    text-align: center;
    text-transform: uppercase;
}

.registration-form .form-control{
    border: 0;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.registration-form .form-control:focus{
    border-color: grey;
    box-shadow: none;
}

.registration-form .txt{
    height: 150px;
}


.button-dati button{
    background: rgb(5, 184, 145);
    color: white;
    border: none;
}

.info{
    background: darkblue;
}

.box_info{
    background: blue;
}

.box_copy{
    background: rgb(0, 0, 83);
    color: white;
    
}